.ui.message .list:not(.ui) li:before {
    content: '•';
}
.ui.header {
    padding-top:4em;
}
.ui.image.header {
    margin-top:4em;
}
.footer.segment {
    padding: 5em 0em;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
.hidden, .anychart-credits-logo, .anychart-credits-text{
    display:none !important;
}

.ui.inverted.segment.hero {
    background:linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
    ),url('/img/hero.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
    min-height: 350px;
    }
    .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
    }
    .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
    }
}